@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

:root {
  --black: rgba(0, 0, 0, 0.5);
}

*,
*::before,
*::after,
header {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

header {
  position: fixed;
  height: 5rem;
  width: 100vw;
  top: 0;
  left: 0;
  padding: 1rem 3rem 1rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  font-size: 0.9rem;
  transition: height 0.6s ease, background 0.6s ease;
}

.sticky {
  height: 3rem;
  background: black;
}

/* Left header */
.left-header {
  width: min(40vw, 400px);
}

.header-left-text {
  font-family: "Lato", sans-serif;
  color: white;
  font-size: 1.2rem;
  font-weight: 200;
}

.left-header-image {
  height: 2rem;
  width: auto;
  margin-right: 0.5rem;
}

/* Right header */
.right-header {
  width: 40vw;
}

.nav-item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.nav-item-container > li {
  list-style: none;
  font-family: "Lato", sans-serif;
}

.nav-item-container a {
  text-decoration: none;
  color: white;
}

.nav-item-container a:active {
  background-color: rgba(255, 255, 255, 0.3);
}

@media (max-width: 768px) {
  .right-header {
    display: none;
  }
}

/* Home page */
.home-page {
  top: 0;
  left: 0;
  height: 95vh;
  width: 100vw;
  background: linear-gradient(180deg, var(--black), var(--black)),
    url("Photos/background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding: 1rem;
  padding-bottom: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-flex-container {
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-page .home-upper-text {
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 3rem;
  text-align: center;
  margin: 20px;
  font-weight: 300;
}

.home-lower-text {
  color: white;
  font-weight: 100;
  font-family: "Roboto Slab", serif;
}

.home-page a {
  text-decoration: none;
  color: white;
  font-size: 2rem;
}

#angle-down {
  position: absolute;
  bottom: 20%;
}

/* About Page */
.about-page {
  top: 100vh;
  height: auto;
  width: 100vw;
  background-color: white;
  text-align: center;
  padding: 5rem 10vw 4rem 10vw;
  font-family: "Lato", sans-serif;
}

.about-container {
  max-width: 600px;
  margin: 0 auto;
}

.about-header {
  font-size: 2rem;
  margin: 0;
  font-weight: 300;
}

#portrait {
  border-radius: 50%;
  margin: 1.8rem auto;
}

.container-fluid {
  background-color: #e1e3e6;
  border-radius: 0.25rem;
  padding: 1rem;
  margin-top: 2rem;
}

.container-fluid i {
  font-size: 3rem;
}

/* Passion Page */

.passion-page {
  width: 100vw;
  background-color: #e1e3e6;
  padding-top: 3rem;
  padding: 3rem 1rem 1rem 1rem;
  font-family: "Lato", sans-serif;
}

.info {
  font-family: "Roboto Slab", serif;
}

.header-cell {
  text-align: center;
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 40px;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}

.cells {
  max-width: 300px;
  height: 460px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.circle {
  background-color: #404040;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
}

/* Experience Page */

.experience-page {
  padding: 5rem 0 4rem 0;
  text-align: center;
  font-family: "Lato", sans-serif;
}

.experience-pic {
  width: auto;
  height: 75px;
  transition: filter 0.3s linear;
}

.experience-pic-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 10rem;
  margin-top: 3rem;
  flex-wrap: wrap;
}

.bNw {
  filter: grayscale(100%);
}

.languages,
.frameworks,
.utility {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}

#resume-pic {
  margin-top: 4rem;
  width: 100vw;
  height: 300px;
  background: linear-gradient(
      165deg,
      rgba(7, 7, 7, 0.8) 0%,
      rgba(62, 58, 58, 0.8) 100%
    ),
    url("Photos/resume.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.resume-text-container {
  width: 100vw;
  height: 300px;
  z-index: 40;
  color: white;
  font-size: 1rem;
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.resume-text {
  font-size: 2rem;
  font-weight: 300;
}

.resume-button {
  font-size: 1.1rem;
  font-weight: 300;
  background: transparent;
  color: white;
  border: 1px solid white;
  padding: 1rem;
}

.resume-button:hover {
  cursor: pointer;
}

/* Projects Page */

.projects-page {
  height: auto;
  width: 100%;
  padding: 1rem;
}

#projects-header {
  font-size: 2rem;
  width: 100px;
}

/* Contact Page */

.contact-page {
  background-color: #e3e3e3;
  width: 100vw;
  height: auto;
  padding: 5rem 0 4rem 0;
  text-align: center;
  font-family: "Lato", sans-serif;
}

.upper-container {
}

.icon {
  font-size: 4rem;
  margin-bottom: 2rem;
}

.contact-header {
  font-size: 2rem;
  font-weight: 300;
}

.contact-sub-header {
  font-family: "Roboto Slab", serif;
  font-weight: 300;
}

.contact-btn {
  background: transparent;
  border: 2px solid black;
  font-size: 1.2rem;
  padding: 0.5rem 1.1rem 0.5rem 1.1rem;
  margin-top: 1rem;
  font-weight: 300;
}
