@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

.hidden {
  opacity: 0;
}

:root {
  --black: rgba(0, 0, 0, 0.5);
  --animate-duration: 3s;
}

*,
*::before,
*::after,
header {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  width: 100vw;
}

.nav-item-container li {
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem 0 1rem;
  transition: background 0.5s ease;
}

.nav-item-container a:hover {
  color: gray;
}

header {
  position: fixed;
  height: 5rem;
  width: 100vw;
  top: 0;
  left: 0;
  padding: 1rem 3rem 1rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  font-size: 0.9rem;
  transition: height 0.6s ease, background 0.6s ease;
}

.sticky {
  height: 3rem;
  background: black;
}

/* Left header */
.left-header {
  width: 20vw;
}

.header-left-text {
  font-family: "Lato", sans-serif;
  color: white;
  font-size: 1.2rem;
  font-weight: 200;
}

.header-left-text a {
  text-decoration: none;
  color: white;
}

.left-header-image {
  height: 2rem;
  width: auto;
  margin-right: 0.5rem;
}

/* Right header */
.right-header {
  width: 70vw;
}

.nav-item-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.nav-item-container > li {
  list-style: none;
  font-family: "Lato", sans-serif;
}

.nav-item-container a {
  text-decoration: none;
  color: white;
}

.nav-item-container a:active {
  background-color: rgba(255, 255, 255, 0.3);
}

/* Home page */
.home-page {
  top: 0;
  left: 0;
  height: 95vh;
  width: 100vw;
  background: linear-gradient(180deg, var(--black), var(--black)),
    url("Photos/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding: 1rem;
  padding-bottom: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-flex-container {
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-page .home-upper-text {
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 3rem;
  text-align: center;
  margin: 20px;
  font-weight: 300;
}

.home-lower-text {
  color: white;
  font-weight: 100;
  font-family: "Roboto Slab", serif;
}

.home-page a {
  text-decoration: none;
  color: white;
  font-size: 2rem;
}

#angle-down {
  position: absolute;
  bottom: 20%;
}

/* About Page */
.about-page {
  top: 100vh;
  height: auto;
  width: 100vw;
  background-color: white;
  text-align: center;
  padding: 4rem 10vw 4rem 10vw;
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

.about-container {
  max-width: 600px;
  margin: 0 auto;
}

.about-header {
  font-size: 2rem;
  margin: 0;
  font-weight: 300;
}

#portrait {
  border-radius: 50%;
  margin: 1.8rem auto;
  height: 200px;
}

.abh {
  font-size: 1.5rem;
  margin-bottom: -0.3rem;
}

#abt,
#abt1,
#abt2 {
  margin-top: 1rem;
}

#about-icon,
#about-icon1,
#about-icon2 {
  color: #636363;
}

.container-fluid {
  background-color: #e6e6e6;
  border-radius: 0.25rem;
  padding: 1rem;
  margin-top: 2rem;
  color: #545454;
}

.container-fluid i {
  font-size: 2rem;
}

/* Passion Page */

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.passion-page {
  width: 100vw;
  background-color: #e1e3e6;
  padding: 4rem 1rem 4rem 1rem;
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

.info {
  font-family: "Roboto Slab", serif;
}

.header-cell {
  text-align: center;
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 40px;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 70px;
}

.cells {
  max-width: 300px;
  height: 460px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.circle {
  background-color: #1b1b9d;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.passion-icon {
  position: absolute;
  color: white;
  font-size: 2.5rem;
}

/* Experience Page */

.experience-page {
  padding: 4rem 0 4rem 0;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

.experience-header {
  font-weight: 300;
}

.experience-pic {
  width: auto;
  height: 75px;
  transition: filter 0.3s linear;
}

.experience-pic-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 10rem;
  margin-top: 3rem;
  flex-wrap: wrap;
}

.bNw {
  filter: grayscale(100%);
}

.languages,
.frameworks,
.utility {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}

#resume-pic {
  margin-top: 4rem;
  width: 100vw;
  height: 300px;
  background: linear-gradient(
      165deg,
      rgba(7, 7, 7, 0.8) 0%,
      rgba(62, 58, 58, 0.8) 100%
    ),
    url("Photos/resume.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.resume-text-container {
  width: 100vw;
  height: 300px;
  z-index: 40;
  color: white;
  font-size: 1rem;
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
}

.resume-text {
  font-size: 1.8rem;
  font-weight: 300;
}

.resume-button {
  font-size: 1.1rem;
  font-weight: 300;
  background: transparent;
  color: white;
  border: 1px solid white;
  padding: 0.5rem 1rem 0.5rem 1rem;
  color: white;
}

.resume-button:hover {
  cursor: pointer;
}

/* Projects Page */

.projects-page {
  padding: 4rem 2rem 4rem 2rem;
  height: auto;
  width: 100vw;
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

.project-container {
  margin-top: 2.2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
}

.project-subheader {
  font-family: "Roboto Slab", serif;
  text-align: center;
  margin-bottom: 3rem;
}

.project {
  padding-top: 56.5%;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.2);
  transition: filter 0.5s ease;
}

#one {
  background: url("Photos/simon-game.png");
  background-size: cover;
  background-position: center;
}

#two {
  background: url("Photos/pig-game.png");
  background-size: cover;
  background-position: center;
}

#three {
  background: url("Photos/product-landing.png");
  background-size: cover;
  background-position: center;
}

#four {
  background: url("Photos/technical.png");
  background-size: cover;
  background-position: center;
}
#five {
  background: url("Photos/tribute.png");
  background-size: cover;
  background-position: center;
}
#six {
  background: url("Photos/survey.png");
  background-size: cover;
  background-position: center;
}

#projects-header {
  font-size: 2rem;
  text-align: center;
  background-position: center;
}

.one-modal,
.two-modal,
.three-modal,
.four-modal,
.five-modal,
.six-modal {
  width: min(600px, 80vw);
  height: 70vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -48%);
  background-color: #fff;
  z-index: 4;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
  border-radius: 1.25rem;
}

.modal-cross {
  position: absolute;
  top: 3%;
  left: 90%;
  font-size: 2.6rem;
}

.modal-cross:hover {
  cursor: pointer;
}

.modal-btn {
  background: transparent;
  border: 1px solid black;
  padding: 0.5rem 1rem 0.5rem 1rem;
  font-family: "Lato", sans-serif;
  margin-left: 1.8rem;
  margin-bottom: 2rem;
  border-radius: 0.25rem;
  color: black;
}

.modal-title {
  position: fixed;
  font-family: "Roboto Slab", serif;
  text-align: Left;
  font-size: 1.6rem;
  height: auto;
  width: 100%;
  padding: 1rem 2rem 1rem 1rem;
  font-weight: 400;
  border-bottom: 1px solid #c2c2c2;
}

.modal-subheader {
  font-family: "Lato", sans-serif;
  font-size: 0.9rem;
  font-weight: 300;
}

.modal-body {
  position: relative;
  margin-top: 7rem;
  height: calc(70vh - 7rem);
  width: 100%;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  overflow-y: scroll;
  overflow-x: hidden;
}

.modal-text {
  padding: 1.8rem;
  padding-bottom: 0;
}

.modal-body img {
  width: 90%;
  height: auto;
  margin-top: 5%;
  margin-left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 0 0 1px rgba(237, 231, 225, 1);
  border-radius: 0.25rem;
}

.project:hover {
  filter: brightness(0.5);
  transition: filter 0.5s ease;
  cursor: pointer;
}

#one,
#two,
#three,
#four,
#five,
#six{
  background-position: center;
}

@media (max-width: 500px) {
  .project {
    height: 50vw;
  }
}

/* Contact Page */

.contact-page {
  background-color: #e3e3e3;
  width: 100vw;
  height: auto;
  padding: 5rem 0rem 0 0rem;
  text-align: center;
  font-family: "Lato", sans-serif;
}

.upper-container {
  margin-bottom: 3rem;
  padding: 0 1rem;
}

.icon {
  font-size: 4rem;
  margin-bottom: 2rem;
}

.contact-header {
  font-size: 2rem;
  font-weight: 300;
}

.contact-sub-header {
  font-family: "Roboto Slab", serif;
  font-weight: 300;
}

.contact-btn {
  background: transparent;
  border: 2px solid black;
  font-size: 1.2rem;
  padding: 0.5rem 1.1rem 0.5rem 1.1rem;
  margin-top: 1rem;
  font-weight: 300;
  color: black;
}

.lower-container {
  background: #262626;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 3rem 3rem 1rem 3rem;
  gap: 5px;
}

.contact-box {
  background-color: #303030;
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}

.contact-pic {
  color: #b4b4bb;
  font-size: 1.6rem;
}

.lower-container a {
  text-decoration: none;
}

/* footer */

footer {
  background-color: #262626;
  color: #b4b4bb;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  border: 0px solid transparent;
  overflow-x: hidden;
}

.rocket {
  display: block;
  color: white;
  margin-top: 0.7rem;
  font-size: 2rem;
}

.footer-text {
  font-size: 0.9rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.to-the-top {
  color: white;
  margin: -10px;
  font-size: 0.8rem;
}

.nav-icon {
  visibility: hidden;
  transition: transform 1s ease;
  z-index: 51;
}

@media (max-width: 768px) {
  .header {
    height: 3rem;
    padding: 1rem;
    background: black;
  }

  .nav-icon {
    visibility: unset;
    color: white;
    font-size: 1.5rem;
  }

  .right-header {
    border-top: 1px solid #212121;
    margin: 0;
    position: absolute;
    top: 3rem;
    width: 100vw;
    visibility: visible;
    left: 0;
    z-index: 3;
    height: 0vh;
    overflow: hidden;
    transition: height 0.3s ease;
    background-color: black;
  }

  .nav-icon:hover {
    cursor: pointer;
  }

  .nav-item-container {
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    z-index: 3;
  }

  .left-header {
    width: 50vw;
  }

  .experience-pic-container {
    gap: 2rem;
  }

  .experience-pic {
    filter: grayscale(0);
  }

  .hidden-drop-down {
    height: 40vh !important;
    display: unset;
  }

  .li1,
  .li2,
  .li3,
  .li4,
  .li5 {
    width: 100vw;
  }
}

.nav-rotate {
  transform: rotate(360deg);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.3;
  height: 100vh;
  width: 100vw;
  background-color: black;
  z-index: 1;
}

.overlay-project {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.3;
  height: 100vh;
  width: 100vw;
  background-color: black;
  z-index: 1;
}

.hidden-modal {
  display: none;
}

@media (max-width: 500px) {
  .home-page {
    background-attachment: unset;
  }

  .resume-pic {
    background-attachment: unset;
  }
}
